<div id="outside-div">
	<div id="inside-div"></div>
</div>

<style>
#outside-div
{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
#inside-div
{
	background-color: #000000;
	height: 90px;
	width: 728px;
	display: block;
	margin: 0 auto;
}
</style>

<script>

var width;
var height;

// Checks if is on mobile device, and if it is scales down the ad
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	width = 234;
	height = 60;
}else {
	width = 728;
	height = 90;
}

div = document.getElementById('inside-div');
div.style.height = height + "px";
div.style.width = width + "px";

</script>