.btn
{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	color: #ffffff;
	background-color: #c60d0d;
	border-radius: 0px;
	margin-top: 0px;
	border: 0px;
}
.btn[selected=selected]
{
	border: 4px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
}
h1
{
	font-family: 'Press Start 2P', cursive;
}
canvas
{
	margin-top: 0px;
	margin-bottom: 0px
}
.btn > canvas
{
	height: 40px;
	width: 40px;
}

#l1-btn
{
	background-color: #66ff66;
}
#l2-btn
{
	background-color: #ff9933;
}
#l3-btn
{
	background-color: #ff66cc;
}

.dialog-line
{
	height: 80px;
	color: black;
	text-align: center;
	vertical-align: middle;
	overflow: none;
}
.dialog-line-portrait
{
	width: 60px;
	text-align: center;
	padding: 5px;
	float: left;
}
.dialog-line-input-container
{
	float: right;
	width:  calc(100% - 60px);
	padding: 10px;
	vertical-align: middle;
	height: 100%;
	display: inline-flex;
}

.dialog-line-input
{
	margin: auto 5px;
	width: 100%;
	height: 60%;
}
.dialog-line-portrait > canvas
{
	height: 50px;
	width: 50px;
	background-color: blue;
}