<!DOCTYPE html>
	<head>
		{% include 'partials/links.html' %}
		<title>Graphics - josefwaller.com</title>

		{% load staticfiles %}
		
		<script src="{% static 'graphics/slideshow.js' %}"></script>

	</head>
	<body>
		{% include 'partials/header.html' %}
		<div class="container">
			<div class="row">
				<div class="col-5 col-centered center">
					<h1>Graphics</h1>
				</div>
				<br>
				<div class="row">
					<img class="img-responsive" id="img" src="{% static 'images/graphics/menu.jpg' %}" imgOne="{% static 'images/graphics/8.jpg' %}" imgTwo="{% static 'images/graphics/t.jpg' %}" imgThree="{% static 'images/graphics/menu.jpg' %}">
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>Graphics</h3>
						<h5>A platformer I made in Python using Pygame. You can download it 
						<a href="https://www.github.com/josefwaller/Graphics/archive/master.zip">here</a>
						or <a href="https://github.com/josefwaller/Graphics">view the source on Github.</a>
						<br><br>
						Play as a knight with no regard to anything but his own amusement, in a world intentionally made to look bad. Use a very limited array of tools and enjoy generic, unimaginative platforming in a harshly unforgiving and unfair environment only to kill everybody at the end.
						<br><br>
						If you find a bug, or want to make a suggestion, please let me know at <a href="mailto:josef@josefwaller.com">josef@josefwaller.com.</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>