<!DOCTYPE html>
<html lang="en">
	<head>

		{% include 'partials/links.html' %}

		<title>josefwaller.com</title>
	</head>
	<body>
		<meta charset="UTF-8">

		{% include 'partials/header.html' %}
		
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-centered">
					<h2>Welcome</h2>
					<h5>
						Welcome to josefwaller.com, home of cool stuff made by Josef Waller. You can choose what you would like to view from the menu at the top.<br>
						If you find a bug or see an innapropriate advertisement, please contact me at josef@josefwaller.com. 
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>