<!DOCTYPE html>
<html lang="en">
	<head>

		{% include 'partials/links.html' %}

		<title>josefwaller.com</title>
	</head>
	<body>
		<meta charset="UTF-8">

		{% include 'partials/header.html' %}
		
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-centered">
					<h2>Josef Waller</h2>
					<h5>
						I am Josef Waller, programmer, currently attending High School at Mount Douglas Secondary in Victoria, B.C.<br><br>
						I am knowledgable in :
						<ul>
							<li>
								Python
								<ul>
									<li>Django</li>
									<li>Pygame</li>
								</ul>
							</li>
							<li> Java </li>
							<li> Javascript
								<ul>
									<li>JQuery</li>
									<li>NODE.js</li>
								</ul>
							</li>
							<li>PHP</li>
							<li>HTML5</li>
							<li>CSS
								<ul>
									<li>Bootstrap</li>
								</ul>
							</li>
						</ul><br>
						I can be contacted at <a href="mailto:josef@josefwaller.com">josef@josefwaller.com</a>, 
						and examples of my programming can be found at <a href="www.github.com/josefwaller">My Github Account</a>.
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>