<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		{% include 'partials/links.html' %}

		{% load staticfiles %}

		<script src="{% static 'rocket/class.js' %}" type="text/javascript"></script>

		<script src="{% static 'rocket/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'rocket/rocket.js' %}" type="text/javascript"></script>
		<script src="{% static 'rocket/planet.js' %}" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'rocket/rocket.css' %}">

		<title>Gravity Simulator - josefwaller.com</title> 
	</head>
	<body>
		{% include 'partials/header.html' %}
		<div class="container">
			<div class="row">
				<div class="center">
					<h1>Gravity Simulator</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12 center">
					<canvas id="canvas"></canvas>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 center">
					<div class="btn-group btn-group-justified" id="scen-group" role="group">
						<a class="btn btn-lg" id="earth">Earth</a>
						<a class="btn btn-lg" id="earth-and-moon">Earth and Moon</a>
						<a class="btn btn-lg" id="two-planets">Two Planets</a>
						<a class="btn btn-lg" id="solar-system">Solar system</a>
					</div>
					<div class="input-group-justified input-group-lg">
						<input type="text" id="force" class="form-control" placeholder="Force">
						<input type="text" id="angle" class="form-control" placeholder="Angle">
						<input type="text" id="altitude" class="form-control" placeholder="Altitude">
						<input type="text" id="radius" class="form-control" placeholder="Radius">
					</div>
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-lg" id="go">Go</a>
						<a class="btn btn-lg" id="update">Update</a>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/footer-ad.html' %}
	</body>
</html>