<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'partials/links.html' %}

		{% load staticfiles %}
		<link type="text/css" rel="Stylesheet" href="{% static 'rpg/rpgmaker.css'%}">

		<!-- scripts -->

		<!-- classes in javascript -->
		<script src="{% static 'rocket/class.js' %}" type="text/javascript"></script>

		<!-- the set up script -->
		<script src="{% static 'rpg/setup.js' %}" type="text/javascript"></script>

		<!-- managers for different screens -->
		<script src="{% static 'rpg/art.js' %}" type="text/javascript"></script>
		<!-- <script src="{% static 'rpg/music.js' %}" type="text/javascript"></script> -->
		<script src="{% static 'rpg/dialog.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/levelEditor.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/gamePlayer.js' %}" type="text/javascript"></script>

		<!-- utilities for different screens -->
		<script src="{% static 'rpg/colorBar.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/spriteCanvas.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/button.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/noteGrid.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/scrollBar.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/ctxPro.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/alertBox.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/buttonGroup.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/reusableFunctions.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/headsUpDisplay.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/alertBoxManager.js' %}" type="text/javascript"></script>

		<!-- Entities to be used when playing the game -->
		<script src="{% static 'rpg/entities/entity.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/player.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/item.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/enemy.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/meleeEnemy.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/rangedEnemy.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/missile.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/npc.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/barrier.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/entities/goal.js' %}" type="text/javascript"></script>
		
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Raleway|Press+Start+2P' rel='stylesheet' type='text/css'>
		

		<title>RPG Maker - josefwaller.com</title>
	</head>
	{% csrf_token %}
	<body>
		{% include 'partials/header.html' %}

		<div class="container" id="rpgmaker-container">
			<div class="row">
				<div class="col-md-5 col-centered text-center">
					<h1> RPG Maker</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-centered">
					<div class="btn-group btn-group-justified btn-lg" role="group">
						<a class="btn" id="level-editor-btn">Level Editor</a>
						<a class="btn" id="art-btn">Sprites</a>
						<!-- <a class="btn" id="music-btn">Music</a> -->
						<a class="btn" id="dialog-btn">Dialog</a>
						<a class="btn" id="game-btn">Play</a>
					</div>
				</div>
				<br>
				<div class="col-md-10 col-centered" id="level-editor">
					<div class="btn-group btn-group-justified" id="lvl-edtr-focus-tools">
					<!-- the zoom out button -->
						<a class="btn btn-lg" id="zoom-out">
							<span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
						</a>
						<a class="btn btn-lg" id="lvl-edtr-eraser">
							Eraser
						</a>
						<a class="btn btn-lg" id="remove-area">
							Delete Area
						</a>
					</div>
					<!-- the background selection buttons -->
					<div class="btn-group btn-group-justified" id="lvl-edtr-b-group">
						<a class="btn btn-lg" id="lvl-edtr-b-1">
						</a>
					</div>
					<canvas id="level-canvas" moz-opaque></canvas>
					<!-- the elements -->
					<div class="btn-group-horizontal" id="lvl-edtr-obj-btns">
					</div>
				</div>
				<div class="col-md-10 col-centered" id="art">
					<canvas id="art-canvas" moz-opaque></canvas>
					<img id="gradiant" style="display:none" src="{% static 'images/rpgmaker/gradient.jpg' %}">
					<!-- the different objects to choose to edit -->
					<div class="btn-group-horizontal" id="art-objects-btns" role="group">
					</div>
					<!-- the different sprites for the selected object -->
					<div class="btn-group-horizontal" id="art-sprites-btns" role="group">
					</div>
					<!-- the different available colors -->
					<div class="btn-group btn-group-justified" id="color-btns" role="group">
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
					</div>
				</div>
				<div class="col-md-10 col-centered" id="dialog">

					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-lg" id="dialog-1" selected="selected">Dialog 1</a>
						<a class="btn btn-lg" id="dialog-2">Dialog 2</a>
						<a class="btn btn-lg" id="dialog-3">Dialog 3</a>
					</div>

					<div id="dialog-container">
					</div>
					<div class="btn-group btn-group-justified" id="dialog-btn-group"></div>

					<!--<div class="dialog-line">
						<div class="dialog-line-portrait">
							<canvas></canvas><br>
							NPC
						</div>
						<div class="dialog-line-input-container">
							<input class="dialog-line-input">
						</div>
					</div> -->
				</div>
				<div class="center-element-outer-container" id="game">
					<!-- used for vertical alignment -->
					<div id="game-cont" class="center-element-inner-container">
						<div id="game-canvas-cont" class="centered-element">
							<div class="btn-group btn-group-justified">
								<a class="btn btn-lg" id="game-quit-btn">Quit</a>
							</div>
							<canvas id="game-hud-canvas"></canvas>
							<canvas id="game-canvas"></canvas>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-centered">
					<div class="btn-group btn-group-justified btn-lg">
						<a class="btn" id="save">Save</a>
						<a class="btn" id="load">Load</a>
					</div>
				</div>
				
				<!-- the alert box -->
				<div class="center-element-outer-container" id="alert-box-container">
					<div class="center-element-inner-container">
						<div id="alert-box" class="centered-element">
							<span id="alert-box-text">Testing Alert Box. Hello World!</span><br>
							<div id="alert-box-input-container">
								ID: <input class="alert-input"></input><br>
								Password: <input class="alert-input"></input><br>
							</div>
							<div id="alert-box-loading">
							</div>
							<button id="alert-box-btn" href="#">Ok</button>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div id="loading" class="center-element-outer-container">
			<div id="loading-container" class="center-element-inner-container">
				<div id="loading-block" class="centered-element">
					<div id="loading-circle">
						<div id="loading-circle-fixed-container">
							<div id="loading-circle-container">
								<div id="loading-circle-dot">
								</div>
							</div>
						</div>
						<div id="loading-circle-fixed-container">
							<div id="loading-circle-container">
								<div id="loading-circle-dot">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/footer-ad.html' %}
	</body>
</html>