<!DOCTYPE html>
<html>
	<head>
		{% include 'partials/links.html' %}

		{% load staticfiles %}
		<link type="text/css" rel="Stylesheet" href="{% static 'rpg/rpgmaker.css'%}">

		<!-- scripts -->

		<script src="{% static 'rocket/class.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/setup.js' %}" type="text/javascript"></script>

		<script src="{% static 'rpg/art.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/music.js' %}" type="text/javascript"></script>

		<script src="{% static 'rpg/colorBar.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/spriteCanvas.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/button.js' %}" type="text/javascript"></script>
		<script src="{% static 'rpg/noteGrid.js' %}" type="text/javascript"></script>

		<!-- Font -->
		<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

		<title>RPG Maker - josefwaller.com</title>
	</head>
	<body>
		{% include 'partials/header.html' %}

		<div class="container">
			<div class="row">
				<div class="col-md-5 col-centered text-center">
					<h1> RPG Maker</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-centered">
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-lg" id="level-editor-btn">Level Editor</a>
						<a class="btn btn-lg" id="art-btn">Sprites</a>
						<a class="btn btn-lg" id="music-btn">Music</a>
						<a class="btn btn-lg" id="background-btn">Background</a>
					</div>
				</div>
				<br>
				<div class="col-md-10 col-centered" id="level-editor">
					<canvas id="level-canvas" moz-opaque></canvas>
					<div class="btn-group btn-group-justified level-editor-btn-group">
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
					</div>
					<div class="btn-group btn-group-justified level-editor-btn-group">
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
					</div>
				</div>
				<div class="col-md-10 col-centered" id="art">
					<div class="btn-group btn-group-justified">	
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
						<a class="btn btn-md">ASDF</a>
					</div>
					<canvas id="art-canvas"></canvas>
					<img id="gradiant" style="display:none" src="{% static 'images/rpgmaker/gradient.jpg' %}">
					<!-- the different objects to choose to edit -->
					<div class="btn-group btn-group-justified" id="art-objects-btns" role="group">
					</div>
					<!-- the different sprites for the selected object -->
					<div class="btn-group btn-group-justified" id="art-sprites-btns" role="group">
					</div>
					<!-- the different available colors -->
					<div class="btn-group btn-group-justified" id="color-btns" role="group">
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
						<a class="btn btn-lg"></a>
					</div>
				</div>
				<div class="col-md-10 col-centered" id="music">
					<canvas id="music-canvas"></canvas>
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg">Track 1</a>
						<a class="btn btn-lg">Track 2</a>
						<a class="btn btn-lg">Track 3</a>
					</div>
				</div>
			</div>
			<audio id="sound" src="{% static 'rpg/beeps/1.wav' %}"></audio>
		</div>

		{% include 'partials/footer-ad.html' %}
	</body>
</html>