/* Default font to droid */
body
{
	font-family: "Droid Sans", sans-serif;
	color: #000000;
}

/* Sets the header css */
.navbar-default
{
	background-color: #68009f;
	border-radius: 0px;
	border: 0px;
	color: #ffffff;
}
/* Sets the navbar item css */
#custom-css>li>a
{
	color: #cc99ff;
}
#custom-css>li>a:hover
{
	color: #ffffff;
}
/* Moves the navbar items over to fit with the side */
#custom-css>li:last-child
{
	margin-right: -30px;
}
.navbar-header>#custom-css
{
	color: #ffffff;
}
.navbar-header>#custom-css:hover
{
	color: #cc99ff;
}

/* Centers columns that have the .col-center */
.col-centered
{
	margin: 0 auto;
	float: none;
}

.center
{
	text-align: center;
}

canvas {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

